@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
}

body {
  line-height: 1.85;
  @apply text-xl font-semibold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h1 {
  @apply text-5xl leading-tight font-normal;
}
.h2 {
  @apply text-3xl leading-tight;
}
.h3 {
  font-size: 1.75rem;
  @apply leading-tight font-bold;
}
.h4 {
  @apply text-xl;
}
.h5 {
  @apply text-lg;
}
.h6 {
  @apply text-base;
}
